ESP32/SECRETS.h
.DS_Store

# Firebase configuration files with secrets
firebase.config
*/firebase.config
shared/cpp/parameters.h

shared/cpp/queue_sim

shared/cpp/queue_sim_shortest

shared/cpp/queue_sim.exe

shared/cpp/queue_sim_farthest

shared/bin/queue_simulator_farthest

shared/bin/queue_simulator_project

shared/bin/queue_simulator_shortest
